.map-container {
  position: fixed;
  width: 50%;
  height: 90%;
}

.pin {
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 50%;
  border: 8px solid #bf2323;
  width: 8px;
  height: 8px;
  margin-left: -11px;
  margin-top: -11px;
}

.pin::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #bf2323;
}

.pin p {
  display: none;
  width: 136px;
  text-align: center;
  position: relative;
  right: 68px;
  top: 26px;
}

.pin:hover p {
  display: block;
}

.marker-title {
  background-color: #171313a6;
  border-radius: 5px;
  padding: 5px;
  color: white
}

.editBar {
  padding: 20px;
  background-color: #2c2e2f;
  color: white;
  position: fixed;
  z-index: 101;
  right: 0;
  left: 0px;
  top: 0;
  height: 48px;
}

.editBar .button {
  background-color: #404f5f;
  border: none;
  color: #fafafa;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.editBar .button:hover {
  background-color: #4d6073;
  color: white;
}
