.map-container {
  position: fixed;
  width: 50%;
  height: 90%;
}

.editBar {
  padding: 20px;
  background-color: #2c2e2f;
  color: white;
  position: fixed;
  z-index: 101;
  right: 0;
  left: 0px;
  top: 0;
  height: 48px;
}

.editBar .button {
  background-color: #404f5f;
  border: none;
  color: #fafafa;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.editBar .button:hover {
  background-color: #4d6073;
  color: white;
}
